* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    background-color: #242424;
    height: 100%;
}

main
{
    text-align: center;
}

h1
{
    color: #ff5900;
    font-size: 46px;
    margin-top: 11px;
    animation: flicker 2.3s infinite alternate;     
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #ffce9f,
      0 0 21px #ffc27d,
      0 0 12px rgb(214, 86, 0),
      0 0 21px rgb(255, 115, 0),
      0 0 27px rgb(255, 123, 0),
      0 0 32px rgb(255, 136, 0),
      0 0 46px rgb(255, 153, 0);
  }

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 7px #fff,
      0 0 10px #ffce9f,
      0 0 21px #ffc27d,
      0 0 12px rgb(214, 86, 0),
      0 0 21px rgb(255, 115, 0),
      0 0 27px rgb(255, 123, 0),
      0 0 32px rgb(255, 136, 0),
      0 0 46px rgb(255, 153, 0);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

.project-buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 100vh;
}

.project-button
{
    padding: 10px 20px;
    margin: 10px 0;
    width: 230px;
    border-color: #009ccc;
    background-color: #242424;
    color: #ebebeb;
    font-weight: bold;
    font-size: 16px;
}

.project-button:hover
{
    transform: scale(1.05);
    background-color: #333a3f;
}

.project-button.active
{
    background-color: #333536;
    border-color: #ff7300;
}

.project-details
{
    text-align: center;
    margin-top: auto;
    padding: 20px;
    width: 100%;
    max-width: 600x;
    opacity: 1;
    border-top: 1px solid #009ccc;
}

.project-details .social-icons
{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    gap: 32px;
}

.project-details a
{
    font-size: 22px;
}

.project-details .social-icons a
{
    font-size: 32px;
    color: #009ccc;
    text-shadow:
      0 0 16px #c4e1f3;
}

.pag-p i
{
    font-size: 0.7em;
    vertical-align: super;
}

.project-details a
{
    color: #ff7b00;
    text-decoration: none;
    text-shadow:
      0 0 13px #ca650c,
      0 0 19px #cf9f73,
      0 0 23px #ffe4c5;
}

.project-details a:hover
{
    transform: scale(1.3);
    color: #ffffff;
    letter-spacing: .2rem;
}



/* Configuración de la estructura principal */

.contents 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio entre botones y detalles */
    height: 80vh;
    width: 100%;
    max-width: 600px; /* Ancho máximo opcional */
}

.floating-contact 
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #contactButton 
  {
    background-color: #181818;
    color: #009ccc;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #contactButton:hover 
  {
    background-color: #3b3b3b;
  }

  #contactInfo:hover
  {
    text-shadow:
      0 0 13px #ca650c,
      0 0 19px #cf9f73,
      0 0 23px #ffe4c5;
  }
  /* Define la animación de aparición */
@keyframes fadeIn 
{
    from { opacity: 0; }
    to { opacity: 1; }
}
  
  /* Define la animación de desaparición */
@keyframes fadeOut 
{
    from { opacity: 1; }
    to { opacity: 0; }
}
  
  /* Aplica la animación de entrada al correo cuando se muestra */
  .contact-info {
    display: none; /* Oculto por defecto */
    color: #ff7300;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  /* Aplica la animación de salida al botón cuando se oculta */
  #contactButton.fade-out {
    animation: fadeOut 0.5s forwards;
  }